.Layout-container
  display grid
  grid-template-columns 1fr 1fr
  grid-template-areas 'header header' 'profile profile' 'experience experience' 'academic skills' 'interest languages' 'footer footer'
  max-width 90rem
  margin 2rem auto auto auto
  background-color lightness(#ff4500, 90%)
  border-radius 1rem