.Header-about
  width: 80%
  margin-block-start: 10px
  box-styles()
  .About-title
    margin-block-end: 10px
    color: Color-variante
    text-align: center
  .About-contact
    display: flex
    justify-content: space-around
    align-items: center
    flex-wrap: nowrap
    margin-block-end: 10px
    a
      color: Color-secundario
      text-decoration: none
  .About-address
    color: Color-variante
    text-align: center

.Header-social
  display: flex
  justify-content: space-evenly
  align-items: center
  width: 20%
  .social-item
    display: flex
    justify-content: center
    align-items: center
    width: 55px
    height: 55px
    background-color: Color-primario
    border: 1px solid Color-variante
    border-radius: 50%
    img
      display: block
      width: 50%
      object-fit: cover