.About_container{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: auto;
    font-size: 1.6rem;
    justify-content: center;
    color: var(--fontColor_DarkMode)
    
}

.About_container p{
    font-weight: 300;
}

.About_container h1, p{
    margin: 0;
}

.about_contact{
    display: inherit;
    width: 80%;
    justify-content: space-between;
    margin: 10px 0;
    
}




@media screen and (max-width: 1200px){
    .about_contact{
        flex-direction: column;
    }

}