.About
  &__picture
    display flex
    justify-content center
    align-items center
    width 10%

    &-image
      width 100%
      height 100%
      border-radius 50%

  &__info
    display flex
    flex-direction column
    justify-content start
    align-items start
    width 80%

  &-job-title
    padding-bottom .7rem

  &__contact
    display flex
    flex-direction row
    justify-content start
    align-items center
    padding-bottom .2rem

  &-item
    padding-right 3rem