.about__container
    margin 10px auto 50px

.about__unordered-list
    display flex
    flex-direction column
    padding 0

.about__unordered-list li
    list-style none

.about__title
    margin 20px 0 10px