.Academic  
  background-color: #aad8d3
  border-radius: 20px
  padding: 10px
  padding-left: 30px

.Academic--items-container
  display: flex
  
.Academic--items
  width: 50%
  margin-right: 15px

.Academic--items p
  font-weight: bolder

.Academic--items p span 
  font-weight: normal