.university {
    margin-bottom: 15px;
    font-weight: 400;
}

.academic-item {
    display: inline-block;
    color: #272d53;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    padding: 30px;
}