.Academic-item
  margin-top .5rem
  padding .5rem
  padding 3rem
  width 45%
  border-radius .4rem
  text-align center
  background-color tan

  &__institution
    padding-bottom .5rem

  &__decription
    padding-bottom .5rem

  &__dates
    display flex
    flex-direction row
    flex-wrap nowrap
    justify-content center
    align-items center
