.main_academic-container {
    width: 50%;
    min-width: 285px;
    margin: 0 auto;
    margin-top: 20px;
    margin-right: 20px;
    background: var(--main-container);
    box-shadow: var(--shadow-main-container);
    -webkit-box-shadow: var(--shadow-main-container);
    -moz-box-shadow: var(--shadow-main-container);
    /* border: 1px solid var(--lines-border-header); */
    border-radius: 15px;
    height: fit-content;
  }
  
  .main_academic-container h2 {
    border-bottom: 2px solid var(--lines-border-header);
    /* margin-bottom: 15px; */
    color: var(--lines-border-header);
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    text-align: center;
  
    background: var(--background-header);
    border-radius: 15px 15px 0px 0px;
    color: #ffffff;
  }
  .main_academic-container table {
    margin: 0 auto;
    border-collapse: collapse;
    height: auto;
  }
  
  .academic_table__left {
    border-right: 2px solid var(--lines-border-header);
    /* border-bottom: 2px solid var(--lines-border-header); */
    padding: 15px;
    text-align: center;
    /* width: 30%; */
    min-width: 100px;
  }
  .academic_table__left p {
    color: gray;
    font-size: 1.0rem;
    font-weight: 500;
  }
  .academic_table__right {
    /* border-right: 2px solid var(--lines-border-header); */
    /* border-bottom: 2px solid var(--lines-border-header); */
    padding: 15px 15px 15px 15px;
    /* width: 70%; */
  }
  .academic_table__right h4 {
    color: var(--lines-border-header);
  }
  .academic_table__right h5 {
    margin-bottom: 10px;
  }