.academic__container
    margin 30px 0

.academic__title
    font-size 3rem
    text-transform uppercase
    letter-spacing 0.3rem

.academic__degree
    margin-top 10px
    color #16386b

.academic__institution
    margin 10px 0 0 20px

.academic__date
    margin-left 20px
    color #888888

.academic__description
    margin-left 20px
