body
  margin 5px
  background-color #fff
  font-family  'Open Sans', sans-serif;
  font-weight 300

h1
  margin 0
  margin-bottom 5px
  font-weight 600

.Main-information
  display grid
  grid-template-rows auto

.Other-information
  display grid
  grid-template-columns 1fr 1fr
  grid-template-rows auto