@import '../App.styl'

.cetificate-title
    font-size: $head1
    color: $red-color

.certificate-content
    box-shadow: 5px 1px 1px rgba(0,0,0,0.5)
    margin-bottom: 2rem
    margin-top: 1rem
    padding: 1rem

.certificate-name
    font-size: $head4
    text-decoration: underline

.certificate-conteiner
    display: flex
    justify-content: space-between
    margin: .5rem 0

.certificate-institutio
    font-size: $head5

