.Main-certificates
  .Certificates-title
    h2-title()
    h2
      margin-block-end: 10px
    p
      color: Color-claro
      a
        color: Color-variante
        font-weight: 700
        text-decoration: none
  .Certificates-container
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
    width: 100%
    height: auto
    margin: 0 auto
    .Certificates-item
      display: flex
      justify-content: center
      align-items: center
      flex-wrap: wrap
      width: 32.5%
      height: 280px
      margin-block-end: 15px
      box-styles()
      h4
        width: 100%
        text-align: center
        h4-title()
      p
        width: 100%
        text-align: center