@import 'Vars.styl'

.ColumnContainer
  flex-basis 50%
  background-color secondColor
  margin-top 10px

.ColumnContainer:nth-of-type(odd) {
  margin-right: 5px
}  

@media screen and (max-width: 1200px)
  .ColumnContainer  
    margin-top 10px
 