@import 'Vars.styl'

.ContainerE
  display flex
  flex-direction row
  padding 10px
  background-color secondColor
  margin-right 5%
  margin-top 10px


@media screen and (max-width: 600px) 
  .ContainerE 
    display flex
    flex-direction column