 @import 'Vars.styl'

.Container
  display grid
  flex 1
  width 95%
  grid-template 1fr / 1fr 1fr
    
  
@media screen and (max-width: 1200px)
  .Container 
    display flex
    flex-direction column
 
    
