.Experience-item
  display flex
  flex-direction column
  margin-right 3rem
  padding 3rem
  width 30rem
  border-radius .4rem
  background-color: #e6a5a5;

  &__company
    padding-bottom .5rem

  &__decription
    padding-bottom .7rem

  &__dates
    display flex
    flex-direction row
    flex-wrap nowrap
    justify-content space-evenly
    align-items center

    hr
      width 5rem
      height .15rem
      background-color #232222
      border 0
      border-radius 2rem