//Experience
.Experience-container
  mixin-container()
  .Experience-title
    mixin-font-sub-title()
  .Experience-item
    mixin-font-p()
  .Experience-item-link
    mixin-ancla()
  .Experience-item-link:hover
    mixin-ancla-hover()