.Experience-container
    padding: 5%
    background-color #eeeeee
    .Experience-title
        font-size: 18px
        font-weight: 500
        text-align center
    .Experience-item
        margin 5% 3%
        .i-jobtitle,
        .i-company
            font-weight 500
            color #121A3E
        .i-enddate,
        .i-desc,
        .i-startdate
            font-weight 100
        .i-startdate
            padding 5% 2%
            font-size: 13px
        .i-enddate
            background-color #00bdbd
            padding 2px 5px 
            margin 0 1%
            border-radius 10px
            font-size: 12px