.experience {
    padding: 10px 10%;
}
.experience-title {
    text-transform: uppercase;
    font-size: 35px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 30px;
    background-color: #925bff;
    padding: 15px;
}

.experience-item {
    width: 47%;
    display: inline-grid;
    margin-right: 3%;
    color: #272d53;
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #BFBFBF;
    box-shadow: 5px 5px 15px #aaaaaa;
    padding: 25px;
    background-color: #fff;
    border-radius: 25px;
}
.job-date {
    margin-bottom: 15px;
    font-weight: 400;
    text-transform: uppercase;
}
@media (max-width: 768px) {
    .experience-item {
        width: 100%;
    }
}

@media only screen and (max-width: 1200px) {
    .experience {
        padding: 40px 5%;
    }
}

@media (max-width: 480px) {
    .experience-title {
        text-align: center;
    }
  }
