ul.Formation-list
  grid-row-gap 25px
  
  h3
    margin 0 0 5px
    font-size 1.2rem
  
  h4
    margin 0 0 10px
    font-size 0.7rem
    letter-spacing 2px

  p
    margin-block 15px
  
  ul
    display flex
    justify-content flex-start

    li
      margin-inline-end 20px
      font-size 0.8rem