@import url('https://acortar.link/wp0Eh6');

*
  padding: 0;
  margin: 0;
  box-sizing: border-box;

html
    font-size: 62.5%
    font-family: 'Montserrat', sans-serif
    scroll-behavior:smooth;                       /* para generar un scroll bastante chevere */

body
  background-color: quaternary-color
