.Header
  margin 10px
  padding 4px
  display flex
  align-items center
  box-shadow 0 1px 3px 1px rgba(0,0,0,.4)
  background-color #9FBBE0

  .Header-title
    flex 1
    margin 0 10px
    text-align center

    .avatar
      width 120px
      border-radius 50%
