.header_container{
    display: flex;
    width: 98%;
    height: auto;
    margin-top: 10px;
    background-color: var(--backgroundColorComponent_DarkMode);
    align-items: center;
    justify-content: space-around;
    padding: 5px;
}

.header_profile{
    width: 200px;
    height: 200px;
    background-color: aliceblue;
    border-radius: 50%;
}

@media screen and (max-width: 1200px){
    .header_container{
        flex-direction: column;
    }

}