.header{
    padding: 10px;
    grid-area: header;
    background-color: #2B2B2B;
    display: grid;
    grid-auto-columns: minmax(200px, 300px) minmax(300px, 1fr);
    grid-template-areas: "avatar header-derecha" ;
    align-items: center;
}

.header .user-image{
    grid-area: avatar;
    width: 100%;
    height: 100%;
}

.header img{
    width: 200px;
    border-radius: 50%;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header-derecha{
    grid-area: header-derecha;
    padding: 10px;
    display: grid;
    display: flex;
    flex-direction: column;
}


.Header-title{
}

