.Header
    width: 100%
    height: 425px
    background-color: color-primario
    @media screen and (max-width: 680px)
        height: 635px
    &-title
        margin: 0
        padding: 10px 0;
        color: color-claro
        font-family: font1
        font-size: fontSize-title1
        text-align: center
        
    