.Interest-container
  grid-area interest
  background-color lightness(#ff4500, 80%)
  border-radius 1rem
  margin 0 2rem 2rem 2rem
  padding 2rem
  .Interest-items-container
    display grid
    grid-template-columns: 1fr 1fr
    grid-gap 1rem
    .Interest-item
      font-size 1.4rem