.Interest
    grid-area: areaF
    margin: 0 auto;

    &-title
        mainTextTitle()

    &-itemContainer
        padding: 0
        padding-left: 30px;
        @media screen and (max-width: 800px)
            padding: 0
            list-style: none
            text-align: center


        li
            width: 215px
            color: color-primario
        h2
            mainTextParagraph()