@import "App";

.interest {
    background-color: lightgrey;
    max-width: 1024px;
    margin: 0 auto;
    height: 262px;
    padding: 0 30px;
    border-top: 1px solid black;
}

.interest {
    // border-left: 1px solid black;
}