  .interest {
    width: 50%;
    background-color: #fff;
    border: 1px solid #bfbfbf;
    box-shadow: 5px 5px 15px #aaa;
    padding-bottom: 30px;
}

.interest-title {
    text-transform: uppercase;
    font-size: 35px;
    color: #fff;
    font-weight: 500;
    background-color: #5569dc;
    padding: 10px;
}

@media (max-width: 768px) {
    .interest {
        width: 100%;
        margin: 0;
        margin-bottom: 50px;
    }
    .interest-title {
        color: #5569dc;
        background-color: #c7dfc1;
    }
}

@media (max-width: 480px) {
    .interest-title {
        text-align: center;
    }
  }
