@import '../App.styl';

.Interest
    border-container()

    .Interest-items
        display: flex
        flex-wrap wrap
        justify-content: center
        margin: 1rem 2rem

        .Interest-item
            width auto
            display: flex
            flex-direction: row
            justify-content: space-between
            align-items: center
            margin: .8rem 2rem
            border-radius: 2rem
            background-color: background-color
            padding: 0.5rem 1rem

    p
        font-size: 2rem