.Item-skill {
  width:100%
}

.Item-skill-progress {
  background: #6b6d88;
  border: solid 1px #6b6d88;
  border-radius: 5px;
  width: 99%;
  height: 15px;
  margin: 5px 0 5px 0;
  display: flex;
  align-items: center;
}
.Item-skill-progress-total {
  background: white;
  border-radius: 5px 0 0 5px;
  align-items: center;
  width: 20px;
  height:99%
}

.Item-skill-description {
  width: 100%;
  display:flex;
  justify-content: space-between;
}

.Item-skill-name {
  width: 30%;
}
.Item-skill-porcentage {
  width: 30%;
}