.Div-item
    display grid
    grid-template-columns: repeat(3, 1fr)
    margin: 5px 0
    justify-self: center;

.B-item-percentage
    margin-left: 10px
    
progress 
    -webkit-appearance: none

::-webkit-progress-value 
    background-color: #3A6DF0


@media only screen and (max-width: 680px)
    progress
        width: 90%