@import '../Vars.styl'

.card-languages
  border-radius 1rem
  width 290px
  min-height 90px
  background-color #fff
  color $secondary-text-color
  margin-right 1em
  margin-bottom 1em
  padding 1.2em
  list-style: none

.card-languages:hover
  border-radius 0.5rem
  background-color $primary-color
  color $primary-text-color

@media only screen and (max-width: 770px)
  .card-languages
    width 90%