.Main-languages
  width: 47.5%
  margin-inline-start: 5px
  .Languages-title
    h2-title()
  .Languages-container
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
    width: 100%
    height: auto
    .Languages-item
      display: flex
      justify-content: space-between
      align-items: center
      flex-wrap: wrap
      width: 100%
      margin-block-start: 15px
      box-styles()
      h4
        width: 100%
        text-align: center
        h4-title()
      p
        width: 100%
        text-align: center