.Language-item
  padding .3rem
  width 40%

  &-percentage
    margin-top .3rem
    padding .2rem
    border-radius .4rem
    text-align center
    color transparent
    transition .5s

    &:hover
      color: black;