.Languages  
  background-color: #aad8d3
  border-radius: 20px
  padding: 10px
  padding-left: 30px


.Languages--container--items
  display: flex
  justify-content: end

.Languages--container--items p 
  font-weight: bolder
  margin-right: 10px

.Languages--container--items span 
  font-weight: normal