.Language-item
  padding .3rem
  width 40%

  &-percentage
    position relative
    margin-top .3rem
    padding .2rem
    border-radius .4rem
    background-color white
    color transparent
    text-align center
    transition 1s

    &:hover
      background-color #57c457
      color black