 @import 'Vars.styl'

.LanguagesContainer
  margin 7%
  justify-content center
  margin-top 0
  flex-basis 33%
  margin-bottom 3%

.Languages-title
  margin-left 0

.LanguageBarG
  background-color secondColor
  height 10px
  width 100%
  border 1px solid #000
 
.LanguageBar
  background-color mainColor
  height 1px
  width 70%
  padding-bottom 10px
  
.Languages-item:first-letter
  liStyle()   

.Languages-item
  list-style none

   