.Layout {
  padding: 15px;
  padding-top: 50px;
  background:rgb(41, 48, 61);
  display: flex;
  flex-wrap: wrap;
  max-width: 950px;
}

@media only screen and (min-width: 768px) {
  .Layout {
    justify-content: space-between;
  }
}
