@import '../variables'

.LayoutContainer
    display flex
    flex-wrap wrap
    padding main_padding
    background-color bg_profile
    color #fff


    section
        width 50%
        h2 , h4
            color primary
        h3
            color contrast
        ul
            padding main_padding
            display flex
            align-items center

            li
                margin-right 1em



