.List
    margin 15px 0px

.List ul
    list-style-type none
    margin 0
    padding 0

.Columns
    display grid
    grid-gap 20px

.Columns-1
    grid-template-columns 1fr

.Columns-2
    grid-template-columns 1fr 1fr

.Columns-3
    grid-template-columns 1fr 1fr 1fr
