@import '../App.styl';

body
    height: 100%
    .App__container
        height: 100%

.Loading
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    margin: 0 20%
    height: 100vh

    h1
        text-align: center