
@font-face {
	font-family: 'Oxygen';
	src: url('../../assets/fonts/oxygen-v10-latin-regular.woff2') format('woff2'), 
		url('../../assets/fonts/oxygen-v10-latin-regular.woff') format('woff'); 
	font-weight: 400;	
	font-style: normal;
}

body {
	font-family: 'Oxygen', sans-serif;
}
  
