@media screen and (max-width: 1200px)
  .Header-container
    display flex
    flex-direction column
    align-items center
    .Header-title
      width 100%
      text-align center
    .Header-job-title
        text-align: center

    .About-title
      width 100%
      justify-content center
      img
        &:nth-of-type(4)
          padding-left 2rem

  .Profile-title
    h4
      text-align center

  .Experience-title
    h4
      text-align center
    .experience__card
      .card__jobs
        display flex
        flex-direction column
        align-items center
      .card__projects
        flex-direction column
        align-items center

  .Academic-title
    padding-left 0
    margin-bottom 10rem
    margin-top 0
    width 50%
    h4
      text-align center
    .Academic-item
      text-align center
      width 100%

  .Skills-title
    padding-right 0
    margin-bottom 10rem
    margin-top 0
    width 50%
    h4
      text-align center
    .Skills-item
      text-align center
    h2
      text-align center

  .habs__container
    flex-direction column
    align-items center

  .int__container
    flex-direction column
    align-items center