.objectives__info
    display flex
    flex-direction column
    padding 0 0 0 30px

.objectives__info li
    list-style disc
    align-items center
    justify-content flex-start
    margin 5px 0

::marker
    color #16FFE2

.objectives__title
    margin 30px 0 10px