profile-color= #1F2021;
.obj-prof-titulo{
  position: relative
  margin-bottom: 20px
  }

.obj-prof-titulo::after{
  content: ''
  position: absolute
  height: 3px;
  background: profile-color
  width: 100%
  bottom: 0
}

.academia-container .exp-pro-titulo{
    margin-top:20px}