
@import "App";
.profile-item_details ul {
	// background-color:  $color-fondo-light;
    // li{
	// 	margin: 10px 1em;
    //     padding: 10px;
	// 	a{
	// 		text-decoration: none;
    //         background-color: red;
	// 	}
	// }
	@include display-flex-center;
	justify-content: flex-end;
}

.profile-item_details a {

	margin: 10px 1em;
    //     padding: 10px;
}

.profile-item__details--title {
    font-size: 1.5em;
    padding: 0 1em;
}
