@import '../colors.styl'

.profile-cv
    background-color: $background-section
    border-radius: 20px
    border: 1px solid $border-section
    padding: 15px
    margin-bottom: 30px

    .profile-title
        color: $text-blue
        margin: 0.7rem 0