#firstline
    margin-top 10px
    margin-bottom 0px !important

.profile__container
    margin 30px 20px;
    
.profile__title
    font-size 3rem
    text-transform uppercase
    letter-spacing 0.3rem
    text-align center

.profile__description
    margin-bottom 20px 
    text-align center
    font-size 2rem
    font-justify auto