.profile_container{
    display: flex;
    justify-content: center;
    width: 98%;
    height: auto;
    margin-top: 10px;
    background-color: var(--backgroundColorComponent_DarkMode);
    color: var(--fontColor_DarkMode);
    font-size:1.4rem;
}

.profile_info{
    display: flex;
    flex-direction: column;
    width: 90%;
}