.Profile
  grid-area Profile
  background-color #fff
  color #000

.Profile-title,
.Profile-desc
  color #000

.Profile-p
  font-size 1rem
  line-height 1.625
  margin-top 1rem

@media only screen and (max-width: 680px)
    .Profile-p
        max-width: 100%
        text-align: justify 