.section{
    max-width: 900px;
    padding: 0 9px;
    margin: 0 auto 25px auto;

    font-family: sans-serif;
    line-height: 2.3rem;
}
.section{
    font-size: 1.6rem;
}
.section h2{
    font-size: 1.8rem;
}

@media screen and (min-width: 500px){
    .section{
        padding: 0 30px;
        line-height: 3rem;
    }
    .section{
        font-size: 1.8rem;
    }
    .section h2{
        font-size: 2.4rem;
    }
}

@media screen and (min-width: 700px){
    .section{
        font-size: 2.2rem;
    }
}