//Skill
.skills-container
  mixin-container()
  width: 250px
  .Skills-title
    mixin-font-sub-title()
  .Skills-item
    mixin-font-p()
    margin-top: 15px;
  .Skills-item-icons
    font-size: 3rem;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;

