
.SkillsContainer 
  padding-top 0
  margin-left 10%

p
  display flex

.Skills-title {
  margin: 2% 0 0 5%;
  margin-left: 5%;
  width: 50%;
}

.Skills-item {
  margin-left: 5%; 
  flex-basis: 50%; 
  width: 50%; 
  margin-top: 2%
}  

@media screen and (max-width: 1200px)
  .Skills-title
    margin 0
  .Skills-item 
    margin 0  

