.Skills
  max-width 400px
  box-sizing border-box

.Skills__Wrapper
  display flex
  justify-content space-between
  flex-wrap wrap

.Skills-item
  padding 1rem
  background white
  border-radius 4px
  width 100%