.Skills-item
  display flex
  flex-direction  column
  align-items center
  justify-content center
  margin-top  2rem
  margin-right  2rem
  padding 1rem 0 0
  width 25%
  border-radius 0.4rem
  background-color #ae7cd0

  &__title
    padding .3rem .5rem
    text-align  center

  &__percentage
    position  relative
    padding .5rem
    width 100%
    background-color  #f5f1f1
    text-align  center
    border-bottom-left-radius inherit
    border-bottom-right-radius inherit
