.Social
  position absolute
  top 1rem
  right 1rem
  display flex
  flex-direction row
  justify-content center
  align-items center
  padding 1rem
  border-radius .8rem
  background #e2e2e2

  &-item
    display flex
    justify-content center
    align-items center
    margin-left .5rem
    width 3rem