.Social
  margin-top 25px

.Social-list
  display flex
  flex-wrap wrap
  align-items center
  justify-content start
  margin-top 5px
  a
    padding-right 15px

.Social-title
  font-size 1.8rem
  font-weight 500

.behance
  width 26px
  height 26px

.github
  width 24px
  height 24px

.linkedin
  width 22px
  height 22px