@import '../App.styl'

.Subtitle
    width: 100%
    display: flex
    height: auto
    width: 95%
    justify-content: center
    align-items: center
    background-color: fourth-color
    border-top-right-radius: 4.5rem
    border-bottom-right-radius: 4.5rem

    h1
        color: white
        font-size: 2rem
        margin: .5rem