.techAndTools__info
    display flex
    flex-direction column
    padding 0

.techAndTools__info li
    list-style none
    display flex
    align-items center
    justify-content center
    margin 5px 0

.techAndTools__icon
    width 20px