/* #3b3b3b */

.Title
    display: flex
    height: 7rem
    width: 95%
    justify-content: center
    align-items: center
    background-color: #2aa9cc
    border-top-right-radius: 3.5rem
    border-bottom-right-radius: 3.5rem

    h1
        color: white
        font-size: 4rem