.Title {
  align-items center
  color var(--color-title)
  display flex
  font-size 1.3rem
  font-weight 700
  letter-spacing 4px
  margin-bottom 1.5rem
  text-transform uppercase
}
hr {
  background var(--bg-gradient)
  border 0
  display: inline-block;
  height 3px
  margin 0
  margin-left 0.5rem
  width 100%
}
