@import '../App.styl'

.Title
    display: flex
    height: 4rem
    width: 95%
    justify-content: center
    align-items: center
    background-color: primary-color
    border-top-right-radius: 4.5rem
    border-bottom-right-radius: 4.5rem

    h1
        color: white
        font-size: 3rem