
mainColor = #1abc9c

secondColor = #E8E8E8

shadowCont()
  border 1px
  padding 10px
  background-color secondColor

.ContainerTest 
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px; 

liStyle()
  color mainColor
  font-weight bold
  font-size 25px

