.info
    width: 80%
    align-self: center
    @media screen and (max-width: 820px)
        text-align center
        width 100%
.info--title
    color: soft-white
    font-size: TitleFontSize
    font-weight: 400
    border-top: 1px solid soft-white
    border-bottom: 1px solid soft-white
    margin: 40px 0 10px 0

@media screen and (max-width: 820px)
    .info--title
        text-align center
        margin 30px 0 10px 0

.personal-cards_container
    width: auto;
    align-self: center
    font-size: BaseFontSize


.personal-detail--card
    display: flex
    color: soft-white
    padding: 10px 10px
    @media screen and (max-width: 650px)
        padding 5px 5px


.personal--card_data
    margin-left: 10px



.data--title
    font-weight: bold;
    padding-block-end: 5px


.name-icon, .location-icon, .email-icon, .phone-icon
    display: block
    font-size: 3rem
    padding-inline-end: 10px
    @media screen and (max-width: 650px)
        font-size TitleFontSize