.education-card_container 
    width: 100%
    height: auto


.education-card__info--college
    padding-block-start: 5px

.education-card__info--description
    padding: 10px 0;


.education-card__details--date
    width: 40%
    padding-block-start: 5px
    padding-inline-end: 10px
    @media screen and (max-width: 650px)
        width: 100%


.education-card__info--college
    font-weight: bold


.education-card__details--container
    display: flex
    padding: 10px
    @media screen and (max-width: 650px)
        flex-direction column
