.experience-card_container
    width: 100%
    height: auto


.experience-card__details--container
    display: flex
    justify-content: space-around
    padding: 10px
    @media screen and (max-width: 650px)
        flex-direction column


.experience-card__info--jobname
    padding-block-start: 5px


.experience-card__details--date 
    width: 15%;
    padding-block-start: 5px;
    padding-inline-end: 10px;
    @media screen and (max-width: 650px)
        width: 100%

.year, .experience-card__info--jobname
    font-weight: bold


.experience-card__info--description
    padding: 10px 0;
