footer
  display: none;
  width: 100%;
  height: 150px;
  background-color: gray-black
  position absolute
  bottom 0px
  padding 15px
  margin-block-start 10px
  @media screen and (max-width: 600px)
    display: flex
    position: relative


footer section
  display: flex
  justify-content: center
  align-items: center
  width: 45rem

