footer
  display: none;
  width: 100%;
  height: 150px;
  background-color: gray-black
  position absolute
  bottom 0px
  padding 15px
  margin-block-start 10px
  @media screen and (max-width: 820px)
    display none
    position: relative:


footer section
  display: flex
  justify-content: center
  align-items: center
  width: 45%

.left ul
  font-size: BaseFontSize
  list-style: none

.left li
  margin: 10px 0

.left a
  text-decoration: none
  color: soft-white

.right ul
  font-size: BaseFontSize
  list-style: none

.right li
  margin: 10px 0

.right a
  text-decoration: none
  color: soft-white
