.header-container 
    display: flex
    flex-direction: column
    border: 1px solid gray-black
    min-width: 320px
    height: auto
    background-color: gray-black
    position: relative
    z-index: 0
    overflow: hidden
