.languages 
    width: 80%
    align-self: center
    margin-block-start: 40px
    @media screen and (max-width: 820px)
        margin-block-start 0
        width 100%
        text-align center
        display none


.languages--title 
    color: soft-white
    font-size: TitleFontSize
    font-weight: 400
    border-top: 1px solid soft-white
    border-bottom: 1px solid soft-white
    margin: 30px 0 20px 0
    @media screen and (max-width: 820px)
        margin 30px 0 10px 0



.language-cards--container 
    width: auto
    align-self: center
    font-size: BaseFontSize
    @media screen and (max-width: 820px)
        display none


.language-detail--card 
    display: flex
    color: soft-white
    padding: 10px 10px


.language--card_data 
    margin-left: 10px


.data--title 
    font-weight: bold
    padding-block-end: 5px


.flag-icon
    display: block
    font-size: IconsFontSize
    padding-inline-end: 15px
