.cards--title 
    color: gray-black
    font-size: TitleFontSize
    font-weight: 700;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 25px 0 10px 0;
    


.cards--title span 
    padding: 0px 10px;
    font-size: ProfileFontSize


.profile-card__details--container 
    padding: 10px;
