*
    box-sizing border-box
    margin 0
    padding 0

html
    font-size 62.5%
    font-family  'Montserrat', sans-serif

h1
    font-size 4rem

h2
    font-size 3rem
    padding-bottom 10px

h3
    font-size 2.5rem
    padding-bottom 10px

h4
    font-size 2rem
    padding-bottom 10px

header
    background-color #CFDCF5
    padding 10px
    margin 10px
    display flex
    align-items center

header > img
    width 20%
    padding 10px
    border-radius 50%

section
    background-color #C6F4FA
    padding 10px
    margin 10px

p
    font-size 1.6rem
    padding-bottom 10px

ul
    width 100%
    height auto
    display flex
    flex-wrap wrap

li
    font-size 1.6rem
    list-style-type none
    padding-right 20px
    padding-bottom 5px

.container
    width 100%
    display flex

.content
    width 50%

.About-container
    width 100%
    display flex
    padding-bottom 15px

.About-content
    width 50%

.quarters
    width 100%
    display flex
    flex-wrap wrap
    justify-content space-between

.quarters > section
    width 49%

.vertical
    width 49%
    display flex
    flex-direction column
