.Layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 300px 300px 300px 300px;
    grid-template-areas: "areaA areaA" "areaB areaB" "areaC areaC" "areaD areaE" "areaF areaG";
}

