@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

html, body
  font-family "Lato"

*
  padding: 0;
  margin: 0;
  box-sizing: border-box;

h1 
  font-size: 2.5rem;


h2 
  font-size: 2rem;
  
