.skills-content{
    width: 100%;
}
.skills-content ul{
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
}
.skills-content ul li{
    width: 100%;
}

@media screen and (min-width: 500px){
    .skills-content ul li{
        width: 47%;
    }   
}