@import './Vars.styl'

body
  background-color $secondary-color
  color $secondary-text-color
  font-family $theme-font
  margin 0
  padding 0

h1
  font-weight 500

h2
  font-weight 400

h3
  font-weight 300

span
  margin-right 0.3em

a
  text-decoration none
  color $primary-text-color

a:hover
  opacity 0.7

.lists
  list-style: none
  margin 0
  padding 0.5em

.flex-container
  display flex
  align-items center
  margin-right 1em

.flex-wrap-container
  display flex
  align-items center
  flex-wrap wrap

.margin-1
  margin 1rem

.margin-y-1
  margin-top 1em
  margin-bottom 1em

.margin-n-y
  margin-top -1.5em
  margin-bottom -1.5em

.margin-n-y-1
  margin-top -0.7em
  margin-bottom -0.7em

.title
  font-size $title
  font-weight $title-weight
  color $secondary-text-color

.subtitle
  font-size $subtitle
  font-weight $subtitle-weight
  color $secondary-text-color

.text-info
  font-size $text-info
  font-weight $text-info-weight
  color $secondary-text-color

.container-cards
  display flex
  align-items start
  flex-wrap wrap

.title-card
  font-size $title-card
  font-weight $title-weight-card

.subtitle-card
  font-size $subtitle-card
  font-weight $subtitle-weight-card

.text-info-card
  font-size $text-info-card
  font-weight $text-info-weight-card

.text-min-card
  font-size $text-min-card
  font-weight $text-min-weight-card

.icon-big
  font-size $icon-big-size