@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
$base-color = #166088
$letters-color = #FFFFFF
$subletters-color = #166088

$box-background-color = #FFFCF9;



*
  box-sizing: border-box
  margin: 0
  padding: 0
  font-family: 'Poppins', sans-serif;

  
  

  h1, h2, h3, h4, h5
    font-family: 'Poppins', sans-serif;
    


  html
    font-size: 62.5%


  body
    background-color: $base-color



