:root {
    --lighty-blue: #31B7FE;
    --gray-black: #3E3F43;
    --soft-white: #F3F7FF;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'roboto', sans-serif;
}


.container {
    width: 100%;
    border: 2px solid black;
    display: flex;
    justify-content: flex-start;
}

.profile-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--gray-black);
    max-width: 320px;
    height: auto;
    background-color: var(--gray-black);
    position: relative;
    z-index: 0;
    overflow: hidden;
    align-items: center;
}

.blue-arrow {
    width: 0;
    height: 0;
    border-top: 24em solid var(--lighty-blue);
    border-right: 32em solid transparent;
    position: absolute;
    z-index: -1;
    overflow: hidden;
}

.profile-info-detail {
    width: 200px;
    height: auto;
    align-self: center;
}

.profile--image {
    width: 160px;
    height: 160px;
    background-image: url('../assets/images/perfil-pic.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 100px;
    border: 2px solid var(--soft-white);
    margin: 20px 10px;
    box-shadow: inset 0 0 4px var(--gray-black),
        0 0 15px black;
}

.profile--title {
    color: var(--soft-white);
    font-weight: 400;
    font-size: 2.5rem;
    text-align: center;
    margin-block-end: 15px;
    text-transform: uppercase;
}

.profile--lastname {
    color: var(--lighty-blue);
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.profile--second-title {
    color: var(--soft-white);
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    border-top: 1px solid var(--soft-white);
    border-bottom: 1px solid var(--soft-white);
    padding: 5px 0;
    margin-block-end: 30px;
}

.personal-info-detail {
    width: 80%;
    align-self: center;
}

.social-info-detail,
.language-info-detail {
    width: 80%;
    align-self: center;
    margin-block-start: 40px;
}

.personal-info--title {
    color: var(--soft-white);
    font-size: 2rem;
    font-weight: 400;
    border-top: 1px solid var(--soft-white);
    border-bottom: 1px solid var(--soft-white);
    margin: 40px 0 10px 0;
    padding-block-start: 3px;
}

.social-info--title,
.language-info--title {
    color: var(--soft-white);
    font-size: 2rem;
    font-weight: 400;
    border-top: 1px solid var(--soft-white);
    border-bottom: 1px solid var(--soft-white);
    margin: 30px 0 10px 0;
}

.language-info--title {
    margin-block-end: 20px;
}

.personal-cards--container,
.social-cards--container,
.language-cards--container {
    width: auto;
    align-self: center;
    font-size: 1.3rem;
}

.personal-detail--card,
.social-detail--card,
.language-detail--card {
    display: flex;
    color: var(--soft-white);
    padding: 10px 10px;
}


.personal--card_data,
.social--card_data,
.languaje--card_data {
    margin-left: 10px;
}

.social--card_data a {
    text-decoration: none;
    display: block;
    color: var(--soft-white);
}


.data--title {
    font-weight: bold;
    padding-block-end: 5px;
}

.name-icon,
.location-icon,
.email-icon,
.phone-icon,
.twitter-icon,
.github-icon,
.linkedin-icon,
.flag-icon,
.whiteflag-icon {
    display: block;
    font-size: 3rem;
    padding-inline-end: 10px;
}


.main-container {
    display: flex;
    width: 65%;
    height: auto;
    padding: 20px;
    font-size: 1.5rem;
    justify-content: center;
}

.main-cards_container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cards--title {
    color: var(--gray-black);
    font-size: 2rem;
    font-weight: 700;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 25px 0 10px 0;

}

.cards--title span {
    padding: 0px 10px;
    font-size: 3rem;
}

.profile-card__details--container {
    padding: 10px;
}


.experience-card_container {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.education-card_container {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
}

.experience-card__details--container {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    width: 500px;

}

.experience-card__info--jobname,
.education-card__info--college {
    padding-block-start: 5px;
}

.experience-card__details--date,
.education-card__details--date {
    width: 150px;
    padding-block-start: 5px;
    padding-inline-end: 10px;
}

.year,
.experience-card__info--jobname,
.education-card__info--college {
    font-weight: bold;
}

.experience-card__info--description {
    padding: 10px 0;
}

.education-card__details--container {
    display: flex;
    padding: 10px;
    width: 500px;
    align-items: center;
}

.skills-card_container {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.skill-list_container {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
}

.skill-list--one {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: flex-start;
}

.skill-list--item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}


.progress-bar {
    display: flex;
    width: 120px;
    height: 8px;
    border: 2px solid black;
    border-inline-start: var(--gray-black);
    background-color: var(--soft-white);
    align-items: center;
    margin-inline-start: 25px;
}

.progress-bar div {
    width: 50px;
    background-color: var(--gray-black);
    overflow: hidden;
    padding: 2.5px 0px;
}




.interest-card__icon--container {
    width: 80%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 60px;
    justify-items: center;
    align-items: center;
    margin: 70px 0 0 40px;
}

.music-icon {
    grid-column: 0 / 1;
    grid-row: 1 / 1;
    font-size: 5rem;
}

.sports-icon {
    grid-column: 1 / 2;
    grid-row: 1 / 1;
    font-size: 5rem;
}

.travel-icon {
    grid-column: 2 / 3;
    grid-row: 1 / 1;
    font-size: 5rem;
}

.exercise-icon {
    grid-column: 3 / 4;
    grid-row: 1 / 1;
    font-size: 5rem;
}

.picture-icon {
    grid-column: 4 / 5;
    grid-row: 1 / 1;
    font-size: 5rem;
}
