/* @media (min-width: 600px)
  .Header
    height: 44rem
    .Header__title-avatar
      flex-direction: row
      .Header__avatar-container
        margin: 0 2rem
        .Header__avatar-img
          width: 20rem;
          height: 20rem
    .Header-title
      width: 100%
    .Header__info
      position relative
      bottom: 13rem
      .Header__info-profile
        position relative
        bottom: 2.8rem
        left: 12rem
        
@media (min-width: 1000px)
  p
    font-size: 2rem
   */