@media only screen and (max-width: 600px)
  .flex-container-header
    flex-direction column
    justify-content center

  .flex-wrap-container-header
    flex-direction column
    justify-content flex-start