border-box()
    display flex
    flex-direction: column
    justify-content: space-between
    background-color: white
    box-shadow: 0px 10px 10px -6px #c6c6c6;
    border: .1rem solid #c6c6c6
    padding: 2rem 0
    border-radius: 2rem
    margin: .8rem
    /*     min-width: 70rem
    max-width: 100rem */