@import './Vars.styl';

border-container()
    display flex
    flex-direction: column
    justify-content: space-between
    background-color: white
    box-shadow: 0px 10px 10px -6px secondary-color
    border: .1rem solid background-color
    padding: 2rem 0
    padding-bottom: 0
    border-radius: 2rem
    margin: 1.5rem

border-subcontainer()
    display flex
    flex-direction: column
    justify-content: space-between
    background-color: white
    box-shadow: 0px 10px 10px -6px secondary-color;
    border: 0.1rem solid background-color
    border-radius: 1rem
    margin: .8rem
    padding: .8rem 0
    
    /*     min-width: 70rem
    max-width: 100rem */