$gray = #657389
$black = #14141C
$white = #FFFFFF
$bg-color = #F3F7FC
$primary-color = #041454
$secondary-color = #AC1459


$font-family-base = 'Quicksand', sans-serif
$font-family-headers = 'Poppins', sans-serif
$font-size-base = 1rem;
$font-size-xxl = ($font-size-base * 2)
$font-size-xl = ($font-size-base * 1.5)
$font-size-lg = ($font-size-base * 1.25)
$font-size-md = ($font-size-base * 1)
$font-size-sm = ($font-size-base * 0.875)
$font-size-xs = ($font-size-base * 0.75)
$h1-font-size = $font-size-base * 2
$h2-font-size = $font-size-base * 1.75
$h3-font-size = $font-size-base * 1.5
$h4-font-size = $font-size-base * 1.25
$h5-font-size = $font-size-base
$h6-font-size = $font-size-base

$circle-radius = 50%
$border-radius = 0.45rem
$border-width = 0.0625rem
$border-color = #bbc1d33f
