// Variables
@font-face
    font-family 'barlowbold'
    src url('http://localhost:8080/public/fonts/barlow-bold-webfont.woff2') format('woff2'),
    url('http://localhost:8080/public/fonts/barlow-bold-webfont.woff') format('woff')
    font-weight normal
    font-style normal

@font-face
    font-family 'barlow_semi_condensedregular'
    src url('http://localhost:8080/public/fonts/barlowsemicondensed-regular-webfont.woff2') format('woff2'),
    url('http://localhost:8080/public/fonts/barlowsemicondensed-regular-webfont.woff') format('woff')
    font-weight normal
    font-style normal

primary = #47D2A2
secondary =  #2B198F
contrast = #fbca8a
bg_header = #fff
bg_profile = secondary
bg_experience = #dedede
bg_academic = secondary
magenta = #a156ac


main_padding = 1em
titles = 'barlowbold'
main_text = 'barlow_semi_condensedregular'