@import url(
  https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap
  )

$theme-font = 'Quicksand', sans-serif
$primary-color = #ffa726
$primary-text-color = #fff3e0

$secondary-color = #fff3e0
$secondary-text-color = #c77800

$complementary-color = #ccc0ae
$complementary-text-color = #fff3e0

$title = 32px
$subtitle = 24px
$text-info = 18px

$title-weight = 500
$subtitle-weight = 400
$text-info-weight = 300

$title-card = 24px
$subtitle-card = 16px
$text-info-card = 14px
$text-min-card = 12px

$title-weight-card = 500
$subtitle-weight-card = 400
$text-info-weight-card = 300
$text-min-weight-card = 300

$icon-big-size = $title
