.About
    display: flex
    justify-content: space-evenly
    justify-self: left
    flex-direction: column
    height: 100%

.About-social
    display: flex

.About-icon
    width: 25px
    height: 25px
    padding: auto
    

img
    width: 100%
    height: 100%

.About-icon-description
    padding-left: 10px
    align-content: center
    justify-content: center
