.about__container
    width 33%
    background-color #16386b
    height auto
    border 20px solid #5ba7d1
    box-sizing border-box
    color white

.photo
    width 100%
    max-width 400px
    border-radius 50%

.photo__container
        width 80%
        margin 25px auto
        display flex
        justify-content center

@media (max-width: 1023px)
  .about__container
    width 100%

    .photo__container
        width 90%
        margin 20px auto

@media (max-width: 450px)
    .photo__container
        width 90%
        margin 15px auto
