.about__container
    width 80%
    background-color #737373
    height auto
    box-sizing border-box
    color white
    margin 20px auto
    justify-content center
    padding 10px
    

.photo
    width 100%
    max-width 400px
    border-radius 50%

.photo__container
        width 60%
        margin 40px auto
        display flex
        justify-content center

@media (max-width: 1023px)
  .about__container
    width 80%

    .photo__container
        width 70%
        margin 20px auto

@media (max-width: 450px)
    .photo__container
        width 70%
        margin 15px auto

