.contact__container
    margin 10px auto 50px

.title
    text-align center
    text-transform uppercase
    font-weigth bold
    font-size 1.6rem

p
    font-family 'Courier New', Courier, monospace
    font-size 1rem

.contact__info
    margin 0 0 0 20px


@media (max-width: 1024px)
    .title
        font-size 2rem

    p
        font-family 'Courier New', Courier, monospace
        font-size 1.4rem

    .contact__info
        margin 0 0 0 20px

@media (max-width: 400px)
    .title
        font-size 1.6rem

    p
        font-size 1.4rem