
@import '../../styles/components/Pallete.styl'
    
.Header
    margin: 2em
    width: 90%;
    display: grid; 
    grid-template-columns: 1fr 3fr 1fr
    align-content: center


.Header__img 
    width: 150px
    height: 150px
    border-radius: 50%
    background: beige
    align-self: center


.Header__main-info
    width: 100%


