.interests__container
    margin 10px auto 50px

.title
    text-align center
    text-transform uppercase
    font-weigth bold
    font-size 1.6rem

li
    font-family 'Courier New', Courier, monospace
    font-size 1.4rem
    justify-content center

li::marker
    color #16FFE2

.interests__info
    margin 0 0 0 20px

.percentaje
    color #16FFE2

@media (max-width: 1023px)
    .title
        font-size 2rem

    p
        font-family 'Courier New', Courier, monospace
        font-size 1.4rem

    .interests__info
        margin 0 0 0 20px

@media (max-width: 450px)
    .title
        font-size 1.6rem

    p
        font-size 1.2rem