.interests__container
    margin 10px
    pading bottom 20px

.title
    text-align center
    text-transform uppercase
    font-weigth bold
    font-size 1.6rem

li
    font-family 'Arial', Helvetica, sans-serif
    font-size 1.4rem
    justify-content center

li::marker
    color #ff66c4

.percentaje
    color #ff66c4

@media (max-width: 1023px)
    .title
        font-size 2rem

    p
        font-family 'Arial', Helvetica, sans-serif
        font-size 1.4rem

   
@media (max-width: 450px)
    .title
        font-size 1.6rem

    p
        font-size 1.2rem