.objectives__container
    margin 10px auto 50px

.title
    text-align center
    text-transform uppercase
    font-weigth bold
    font-size 1.6rem

p.text_objectives
    font-family 'Courier New', Courier, monospace
    font-size 1.4rem
    justify-content left

.objectives__info
    margin 0 0 0 30px

.objectives__logo
    width 20px
    margin 0 10px 0 0


@media (max-width: 1024px)
    .title
        font-size 2rem

    p.text_objectives
        font-family 'Courier New', Courier, monospace
        font-size 1.4rem

    .objectives__info
        margin 0 0 0 20px

@media (max-width: 400px)
    .title
        font-size 1.6rem

    p
        font-size 1.2rem