.profile__container
    width 50%
    min-height 1000px
    color white
    padding 50px 30px 20px
    box-sizing border-box
    display flex
    flex-direction column
    color #737373
    

.profile__title
    font-size 4rem
    text-transform uppercase
    margin 50px
    color #737373
    font-family Impact, Haettenschweiler, 'Arial Narrow', sans-serif
    text align center
    justify content center
    letter-spacing .4rem

.profile__subtitle
    font-family 'Arial', Helvetica, sans-serif
    font-size 2rem
    margin 30px 
    text-transform uppercase
    letter-spacing .1rem
    color #ff66c4

@media (max-width: 1023px)
  .profile__container
    width 80%
    