.profile__container
    width 56%
    min-height 1000px
    color white
    padding 50px 30px 20px
    box-sizing border-box
    display flex
    flex-direction column
    color black

.profile__title
    font-size 4rem
    text-transform uppercase
    margin 0
    color #16386b
    font-family Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif

.profile__subtitle
    font-size 2rem
    margin 10px 0 0 0
    text-transform uppercase
    letter-spacing .5rem
    color #5ba7d1

@media (max-width: 1024px)
  .profile__container
    width 100%
    