.professional-profile__subtitle
    color #5ba7d1
    text-transform uppercase
    letter-spacing .3rem
    font-size 1.6rem

.professional-profile__line
    display inline-flex
    border-top 2px solid black
    padding 30px 0 0

.text
    font-size 1.4rem
    display inline-block

.text-strong
    display inline
    flex-direction column

.experience__title
    font-size 1.4rem

.experience__date
    display inline-flex
    color #444440
    font-size 1.4rem
    margin-top 5px

.experience__link
    color #5ba7d1

.experience__link:hover
    color #5faeff

.soft__skills::marker
    color #5faeff