.professional-profile__subtitle
    color #ff66c4
    text-transform uppercase
    letter-spacing .3rem
    font-size 1.6rem
    font-family 'Arial', Helvetica, sans-serif

.professional-profile__line
    display inline-flex
    border-top 2px solid black
    padding 30px 0 0
    color #ff66c4

.text
    font-size 1.4rem
    display inline-
    text align justify

.text-strong
    display inline
    flex-direction column

.experience__title
    font-family 'Arial', Helvetica, sans-serif
    font-size 1.4rem
    color black
    text-transform uppercase

.experience__date
    display inline-flex
    font-family 'Arial', Helvetica, sans-serif
    font-size 1.4rem
    margin-top 5px

.experience__link
    color #ff66c4

.experience__link:hover
    color #ff66c4

.soft__skills::marker
    color #ff66c4