.techAndTools__container
    margin 10px auto 50px

.title
    text-align center
    text-transform uppercase
    font-weigth bold
    font-size 1.6rem
    padding 40px 0 0

p
    display flex
    align-items center
    font-family 'Arial', Helvetica, sans-serif
    font-size 1.4rem
    justify-content center


.percentaje
    color f13180

@media (max-width: 1023px)
    .title
        font-size 2rem
        
    p
        font-family 'Arial', Helvetica, sans-serif
        font-size 1.4rem

    .techAndTools__info
        margin 0 10 0 10px

@media (max-width: 450px)
    .title
        font-size 1.6rem
        
    p
        font-size 1rem