.techAndTools__container
    margin 10px auto 50px

.title
    text-align center
    text-transform uppercase
    font-weigth bold
    font-size 1.6rem

p
    display flex
    align-items center
    font-family 'Courier New', Courier, monospace
    font-size 1.4rem
    justify-content center


.techAndTools__info
    margin 0 0 0 20px

.techAndTools__logo
    width 20px
    margin 0 10px 0 0

.percentaje
    color #16FFE2

@media (max-width: 768px)
    .title
        font-size 2rem

    p
        font-family 'Courier New', Courier, monospace
        font-size 1.4rem

    .techAndTools__info
        margin 0 0 0 20px

@media (max-width: 450px)
    .title
        font-size 1.6rem

    p
        font-size 1rem