
light-blue = #31B7FE
gray-black = #3E3F43
soft-white = #F3F7FF

main-font = 'roboto', sans-serif
ProfileFontSize = 2.5rem
TitleFontSize = 2rem
BaseFontSize =  1.5rem
IconsFontSize = 3rem
InterestIconSize = 4rem



*
    box-sizing: border-box
    margin: 0
    padding: 0


html
    font-size: 62.5%;
    font-family: main-font

.display, .info, .social, .languages
    font-size BaseFontSize

@import './components/Academic.styl'
@import './components/BlueArrow.styl'
@import './components/Container.styl'
@import './components/Display.styl'
@import './components/Experience.styl'
@import './components/Header.styl'
@import './components/About.styl'
@import './components/Interest.styl'
@import './components/Languages.styl'
@import './components/Profile.styl'
@import './components/Main.styl'
@import './components/Skills.styl'
@import './components/Social.styl'
@import './components/Categories.styl'
@import './components/Footer.styl'
